{{- $gitName := promptStringOnce . "gitName" "Git user name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git user email" -}}

[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
