#!/bin/bash
# Brewfile sha: {{ include "Brewfile" | sha256sum }}
set -e

echo "=== Installing Homebrew packages ==="
if command -v brew &>/dev/null; then
    brew update
    brew bundle install --file="{{ .chezmoi.sourceDir }}/Brewfile"
    echo "Done."
else
    echo "Warning: Homebrew not found. Please install it first: https://brew.sh/"
fi
